[submodule "submodules/front_end_best_practices"]
	path = submodules/front_end_best_practices
	url = https://github.com/TechWithTy/front_end_best_practices.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/TechWithTy/scripts.git
[submodule "components/external/zod-react-form-auto"]
	path = components/external/zod-react-form-auto
	url = https://github.com/techwithty/zod-react-form-auto.git
[submodule "app/api/pollinations"]
	path = app/api/pollinations
	url = https://github.com/techwithty/pollinations.git
[submodule "app/api/gemini-stream"]
	path = app/api/gemini-stream
	url = https://github.com/techwithty/gemini-stream.git
[submodule "app/api/openrouter"]
	path = app/api/openrouter
	url = https://github.com/techwithty/openrouter.git
